In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/mateus.schualtz/Downloads/grupos.csv/grupos.csv")

In [4]:
df[df['name'] == 'GIOVANA']['names'].unique()

array(['|GEIOVANA|GEIOVANNA|GHIOVANA|GHIOVANNA|GIIOVANA|GIOVANA|GIOVANNA|GUIOVANA|GUIOVANNA|JHIOVANA|JIOVANA|JIOVANNA|'],
      dtype=object)

In [5]:
df['names'] = df['names'].str.lstrip('|')

In [6]:
df_tratado = pd.DataFrame(df['names'].str.split('|', expand=True).stack().reset_index(level=1, drop=True).reset_index())
df_tratado = df_tratado.rename(columns={0:'Nome'})

In [18]:
df

,name,classification,frequency_female,frequency_male,frequency_total,ratio,names
0,ALINE,F,528515,2035,530550,0.996164,AALINE|AILINE|ALEINE|ALIINE|ALINE|ALINER|ALINH...
1,ARAO,M,0,3526,3526,1.000000,AARAO|ARAAO|ARAO|
2,ARON,M,0,3442,3442,1.000000,AARON|AHARON|AROM|ARON|ARYON|HARON|
3,ADA,F,5294,289,5583,0.948236,ABA|ADA|ADAH|ADAR|ADHA|HADA|
4,ABADE,M,0,57,57,1.000000,ABADE|
...,...,...,...,...,...,...,...
50738,ZUNEIDE,F,283,0,283,1.000000,SUNEIDE|ZUNEIDE|
50739,ZUNILDA,F,206,0,206,1.000000,SUNILDA|ZUNILDA|
50740,ZUNIRA,F,139,0,139,1.000000,ZUNIRA|
50741,ZURENE,F,32,0,32,1.000000,ZURENE|
50742,ZURMA,F,101,0,101,1.000000,SURMA|ZURMA|

In [8]:
for idx in df_tratado['index']:
    df_tratado.loc[df_tratado['index'] == idx, 'Sexo'] = df['classification'].iloc[idx]

In [19]:
df_tratado.isnull().sum()

Nome    0
Sexo    0
dtype: int64

In [20]:
df_tratado.drop(columns='index', inplace=True)

KeyError: "['index'] not found in axis"

In [15]:
df_tratado[df_tratado['Nome'] == 'ARAAO']

     Nome Sexo
40  ARAAO    M

In [11]:
df_tratado.to_csv('Nomes_Genero.csv', index=False)